h1 {
	text-align: center;

}
h2 {
	text-align: center;
}

aside {
	text-align: center;
}
.language-toggle {
	position: absolute;
	right: 5px;
}

section {
	margin: 10px;
	border: 3px solid gray;
	border-radius: 25px;
	width: 50%;
}/*
header {
	background-image: url('../img/Dresden.jpg');
*/
footer {
	background-color: rgba(230, 230, 230, 0.9);
	text-align: center;
	position: fixed;
	bottom: 0;
}
aside {
	padding-left: 50px;
}