body {
	background-color: rgb(225, 230, 240);
}

h1 {
	text-shadow: 2px 2px #888888;
	padding: 10%;
	text-align: center;
	font-weight: bolder;
}

h2, h3 {
	text-align: center;
}
h3 {
	text-decoration: underline;
}
h5 {
	font-style: italic;
}
.active {
	font-weight: 900;
	text-transform: uppercase;
	color: black;
	background-color: white;
	text-shadow: 2px 2px #888888;
}
aside {
	text-align: center;
}
.language-toggle {
	position: absolute;
	right: 5px;
}
p a {
	text-decoration: underline;
	color: black;
}
section {
	border: 1px solid gray;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 25px;
	color: black;
	background-color: rgba(245, 245, 200, 0.5);
	box-shadow: 5px 5px 1px #888888;
}
header {
	padding: 1em 0;
	background-color: rgb(245, 245, 200);
	margin-bottom: 1em;
}
/*for medium/tablet screens*/
@media all and (min-width: 768px){
	header{
		background-image: 
		linear-gradient(rgba(255, 255, 255, 0.5),
    					rgba(255, 255, 255, 0.5)), 
    	url('../img/dresden.jpg');
    }
    #en:after{
    	content: "EN";
    }
    #de:after{
    	content: "DE";
    }

}
/*for large screens*/
@media all and (min-width: 1244px){
    #en:after{
    	content: "ENGLISH";
    }
    #de:after{
    	content: "DEUTSCH";
    }
    #linkedin:after {
    	content: " LinkedIn";
    }
    #resume:before {
    	content: " Download ";
    }
    #skiptomain:focus {
    	background-color: white;
    	color: black;
    	font-weight: bold;
    	top: 0px;
    	padding: 1em;
    }

}
footer {
	border-top: 2px solid black;
	background-color: rgba(230, 230, 230, 0.9);
	bottom: 0;
}

footer a {
	font-size: 2em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(0, 119, 181, 1);
	padding: 0 0.5em;
}
footer a:hover {
	text-decoration: none;
}
aside {
	margin: 0 auto;
}
img {
	margin: 0em auto 2em auto;
	border: 2px solid gray;
	padding: 0;
	box-shadow: 5px 5px 1px #888888;
}

iframe {
	margin: 1em auto;
	display: block;
	box-shadow: 5px 5px 1px #888888;
}
.book-title {
	font-style: italic;
}
.navbar-nav {
	float: none;
	background-color: rgba(230, 230, 230, 0.9); 
}

.external-links {
	margin: 0 auto;
	text-align: center;
}
.external-links li{
	list-style-type: none;
	display: inline-block;
}
.icon {
	border: none;
	box-shadow: none;
	margin: 0;
}


#skiptomain{
	position: absolute;
	top: -30px;
}
.contact-wrapper {
	font-size: 20px;
}

#contactpic {
	margin: 0 auto 2em auto;
	box-shadow: none;
}
#contactinfo {
	text-align: center;
}