body {
	background-color: rgb(225, 230, 240);
	
}

h1 {
	text-shadow: 2px 2px #888888;
	padding: 10%;
	text-align: center;
	font-weight: bolder;
}

h2, h3 {
	text-align: center;
}

h5 {
	font-style: italic;
}
.active {
	font-weight: 900;
	text-transform: uppercase;
	color: black;
	background-color: rgba(230, 230, 230, 0.9);
	text-shadow: 2px 2px #888888;
}
aside {
	text-align: center;
}
.language-toggle {
	position: absolute;
	right: 5px;
}

section {
	border: 1px solid gray;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 25px;
	background-image: 		linear-gradient(rgba(230, 230, 230, 0.5),
    					rgba(255, 255, 255, 0.5));
	background-color: white;
	box-shadow: 5px 5px 1px #888888;
}
header {
	padding: 1em 0;
	background-color: rgb(245, 245, 200);
	margin-bottom: 1em;
}

@media all and (min-width: 1244px){
	header{
		background-image: 
		linear-gradient(rgba(255, 255, 255, 0.5),
    					rgba(255, 255, 255, 0.5)), 
    	url('../img/Dresden.jpg');
    }
}
footer {
	background-color: rgba(225, 190, 240, 0.9);
	bottom: 0;
}
footer a {
	font-size: 2em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(0, 119, 181, 1);
	padding: 0 0.5em;
}
footer a:hover {
	text-decoration: none;
}
aside {
	padding-left: 20px;
	display: inline;
}
img {
	margin: 0em auto 2em auto;
	border: 2px solid gray;
	padding: 0;
	box-shadow: 2px 2px 1px #888888;
}
iframe {
	margin: 1em auto;
	display: block;
	box-shadow: 5px 5px 1px #888888;
}
.book-title {
	font-style: italic;
}
.navbar-nav {
	float: none;
	background-color: rgba(230, 230, 230, 0.9); 
}

.external-links {
	margin: 0 auto;
	text-align: center;
}
.external-links li{
	list-style-type: none;
	display: inline-block;
}




